@page    

        <div>
        <h1>Política de Privacidade da Harmony</h1>
        <p>Na Harmony, levamos a privacidade dos nossos clientes a sério e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Esta política de privacidade explica como coletamos, usamos, divulgamos e protegemos suas informações pessoais quando você visita nosso site ou loja, ou interage conosco de qualquer outra forma.</p>
    </div>

    <div>
        <h2>Informações que Coletamos</h2>
        <p>
            - <strong>Informações Pessoais:</strong> Podemos coletar informações pessoais, como nome, endereço, endereço de e-mail, número de telefone e informações de pagamento quando você faz uma compra em nossa loja online ou se inscreve em nossa newsletter.
            <br>
            - <strong>Informações de Uso:</strong> Podemos coletar informações sobre como você usa nosso site, como páginas visitadas, produtos visualizados e interações com o site.
            <br>
            - <strong>Cookies e Tecnologias Semelhantes:</strong> Podemos usar cookies e outras tecnologias de rastreamento para melhorar sua experiência de navegação em nosso site.
        </p>
    </div>

    <div>
        <h2>Como Usamos Suas Informações</h2>
        <p>
            - Processamos suas informações pessoais para atender a pedidos, fornecer suporte ao cliente, personalizar sua experiência e enviar informações relevantes sobre nossos produtos e promoções.
            <br>
            - Utilizamos informações de uso para entender melhor como nosso site é utilizado e para melhorar nossos serviços e ofertas.
        </p>
    </div>

    <div>
        <h2>Compartilhamento de Informações</h2>
        <p>A Harmony não vende, aluga ou comercializa suas informações pessoais a terceiros. No entanto, podemos compartilhar informações com prestadores de serviços de terceiros que nos auxiliam na operação do nosso site e na prestação de serviços.</p>
    </div>

    <div>
        <h2>Proteção de Dados</h2>
        <p>Todas as informações pessoais que coletamos são armazenadas com segurança e protegidas contra acesso não autorizado.</p>
    </div>

    <div>
        <h2>Seus Direitos</h2>
        <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Entre em contato conosco para exercer esses direitos ou para esclarecer quaisquer dúvidas sobre nossa política de privacidade.</p>
    </div>

    <div>
        <p>Ao continuar a utilizar nosso site e serviços, você concorda com os termos desta política de privacidade. A Harmony reserva-se o direito de atualizar esta política periodicamente para refletir mudanças em nossas práticas de privacidade.</p>
    </div>

    <div>
        <p>Obrigado por escolher a Harmony para suas necessidades musicais. Estamos comprometidos em proteger sua privacidade e garantir que sua experiência conosco seja segura e agradável.</p>
    </div>
    