@page

 <div>
        <h1>Bem-vindo à Harmony! - Paixão pela Música há Mais de 10 Anos</h1>
        <p>Desde 2005, a Harmony Musicais tem sido a escolha confiável para músicos apaixonados em todo o Brasil. Somos uma loja dedicada a fornecer os melhores instrumentos musicais, especialmente guitarras, que ajudam a dar vida à música e aprimorar seu talento.</p>
    </div>

    <div>
        <h2>Nosso Compromisso com a Qualidade</h2>
        <p>Na nossa loja, acreditamos que a qualidade é a chave para criar música excepcional. Por isso, selecionamos cuidadosamente cada instrumento em nosso estoque, garantindo que nossos clientes tenham acesso a marcas renomadas e produtos de alta qualidade. Nossas guitarras e outros instrumentos são escolhidos a dedo para atender às necessidades dos músicos iniciantes e profissionais.</p>
    </div>

    <div>
        <h2>Variedade de Opções</h2>
        <p>Oferecemos uma ampla variedade de guitarras, desde acústicas e elétricas até clássicas e exóticas. Você encontrará instrumentos para todos os gostos e estilos musicais. Além disso, contamos com uma seleção de acessórios, amplificadores e equipamentos de áudio para aprimorar sua experiência musical.</p>
    </div>

    <div>
        <h2>Atendimento ao Cliente Excepcional</h2>
        <p>Nossa equipe é formada por músicos apaixonados que entendem as necessidades dos nossos clientes. Estamos aqui para oferecer orientação especializada, responder a perguntas e ajudá-lo a encontrar o instrumento perfeito. Nosso compromisso com o atendimento ao cliente é o que nos diferencia.</p>
    </div>

    <div>
        <h2>Entrega em Todo o Brasil</h2>
        <p>Entendemos que nem todos os músicos estão próximos da nossa loja física, por isso, oferecemos entrega para todo o Brasil. Compre online com confiança e receba seus instrumentos no conforto da sua casa.</p>
    </div>

    <div>
        <h2>Junte-se à Comunidade</h2>
        <p>Não vendemos apenas instrumentos, construímos uma comunidade de músicos apaixonados. Siga-nos nas redes sociais e fique por dentro de notícias, promoções e eventos musicais emocionantes.</p>
    </div>

    <div>
        <p>Obrigado por nos escolher como seu destino para instrumentos musicais de qualidade. Estamos ansiosos para ajudá-lo a alcançar suas metas musicais e fazer parte da sua jornada musical.</p>
    </div>

    <div>
        <p>Entre em contato conosco para obter mais informações ou visite nossa loja física em Rua Dos Andes número 1954 para explorar nossa coleção. A música é a nossa paixão, e estamos aqui para compartilhá-la com você!</p>
    </div>

    <div class="image-container">
        <img src="./images/lojamsc.png" class="image"/> 
    </div>
    